.login-button {
  background-color: rgb(61, 117, 238);
  color: white;
  /*height: 35px;
      width: 100px;*/
  border: solid rgb(61, 117, 238);
  border-color: rgb(61, 117, 238);
  border-radius: 150px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;

  transition: opacity 0.35, color 0.35s;
  transition: box-shadow 0.35s;
  vertical-align: top;
}
.login-button:hover {
  background-color: rgb(41, 115, 221);
  opacity: 0.85;
  box-shadow: 5px 5px 10px rgba(107, 147, 212, 0.288);
}
.login-button:active {
  opacity: 0.7;
}
